body header, aside, section, article, footer {
  float: left;
}

@media only screen and (max-width: 767px) {

header {
  height: 75px;
  width: 100%;
}

aside {
  height: 150px;
  width: 100%;
}

section {
  height: 125px;
  width: 100%;
}

article {
  height: 250px;
  width: 50%;
}

footer {
  height: 80px;
  width: 100%;
}

}

@media only screen and (min-width: 768px) {
  
  header {
    height: 100px;
    width: 100%;
  }
  
  aside {
    height: 600px;
    width: 100%;
  }
  
  section {
    height: 200px;
    width: 50%;
  }
  
  article {
    height: 250px;
    width: 25%;
  }
  
  footer {
    height: 150px;
    width: 100%;
  }

}