@media only screen and (max-width: 767px) {

header, aside, section, article, footer {
  background-color: #888;
  border: #444 solid 5px;
  box-sizing: border-box;
}

}

@media only screen and (min-width: 768px) {

header {
  background-color: rgba(255, 0, 0, 0.5);
  border: red solid 5px;
  box-sizing: border-box;
}

aside {
  background-color: rgba(0, 255, 0, 0.5);
  border: green solid 5px;
  box-sizing: border-box;
}

section {
  background-color: rgba(0, 0, 255, 0.5);
  border: blue solid 5px;
  box-sizing: border-box;
}

article {
  background-color: rgba(255, 255, 0, 0.5);
  border: yellow solid 5px;
  box-sizing: border-box;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  border: black solid 5px;
  box-sizing: border-box;
}
  
}
